body {
    color: green;
}

.ui {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.nav a {
    outline: 2px solid black;
    padding: 1em;
    width: 100%;
    text-decoration: none; 
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.filter a {
    outline: 2px solid black;
    padding: 1em;
    width: 100%; 
    text-decoration: none;   
}

button {
    width: 100%;
    background-color: lightgrey;
    outline: 1px solid black;
    border: none;
}
